<div id="maintext" class="i-box__section">
    <div class="i-box__section__item">
        <h3>Check Engine Light Turns On</h3>
        <p>
            A check engine light indicates a serious problem with your ignition, fuel or emission system. If this light comes on, it is a serious problem and needs immediate attention.
        </p>
    </div>
    <div class="i-box__section__item">
        <h3>Stalling</h3>
        <p>
            When your engine stops running and your car stalls, this could indicate a problem with the electrical system in your car or the fuel system. The engine is unable to ignite the gas in the car’s cylinders and requires attention from a certified technician.
        </p>
    </div>
    <div class="i-box__section__item">
        <h3>Engine Clicking or Ticking</h3>
        <p>
            If your engine starts to sound like your watch, you may be having a problem with the car’s oil pressure. A damaged or clogged oil pump could be preventing oil from reaching all of the components necessary to run the vehicle.
        </p>
    </div>
</div>