.i-box__section {
    box-sizing: border-box;
    padding: 60px 20px;
    display: grid;
    gap: 0rem;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    @media(min-width: 768px) { grid-template-columns: repeat(3, minmax(0, 1fr)); }
    &>div:nth-child(odd) { background-color: $secondary-color; }
    h3, p { color: $white-color; }
    &__item {
        background-color: $black-color;
        h3 { font-family: $webfont !important; font-weight: 900;  }
        padding: 40px;
    }
}