/*---    Action Bar Styles  ---*/

$topbar-color: #fff;
$topbar-fontsize: 1.4em;
$actionbar-width: 980px;

#nd-actionbar{border: none !important; position: relative; z-index: 2;}
#nd-actionbar .container {max-width: $actionbar-width; padding: 0 !important;}
#dnn_ActionBarPane .quote-btn { font-size: 1.2em;}
#dnn_ActionBarPane .quote-btn a { color: $topbar-color; text-decoration: none; margin-right: 20px;}
#dnn_ActionBarPane .quote-btn a:last-of-type { margin: 0;}
#dnn_ActionBarPane .quote-btn a:hover { text-decoration: underline;}
#dnn_ActionBarPane #top-social { display: flex; justify-content: space-between;}
#dnn_ActionBarPane #top-social a { color: $topbar-color; text-decoration: none; font-size: $topbar-fontsize; margin-right: 20px; padding: 1px 0;}
#dnn_ActionBarPane #top-social a:last-of-type {margin: 0;}

/*---  Navbar Styles ---*/
div#nd-menubar {
  z-index: 10;
  background: $secondary-color;
  @media(min-width: 768px) {
    position: relative;
    top: 0 !important;
  }
  @media(min-width:1024px) {
    width: 100%;
  }
  &.scrolled{
    left: 0;
    right: 0;
    z-index: 9;
    bottom: auto;
    position: fixed;
    top: 0 !important;
  }
  nav#contentnav {
    width: 100%;
    max-width: 100%;
    margin-left: auto;
    box-sizing: border-box;
    background: transparent;
    @media(min-width:768px) {
      background: $primary-color !important;
    }
    @media(min-width:1024px) {
      background: transparent !important;
      width: 760px;
    }
    .addressphone, .quote-btn, .hours{
      @media(max-width: 767px) {
        display: none;
      }
    }
    #dnnMenu {
      ul.topLevel {
        >.item {
          position: relative;
          line-height: 50px;
          >a {
            color: #fff;
            transition: all .3s;
            font-family: $webfont;
            @media(min-width: 1024px) {
              font-size: 13px;
            }
            @media(min-width:1550px) {
              font-size: 15px;
            }
            @media(min-width:1700px) {
              font-size: 17px;
            }
            &::before {
              @media(min-width: 768px) {
                left: 0;
                bottom: 0;
                height: 0;
                content: "";
                z-index: -1;
                width: 100%;
                position: absolute;
                transition: all .3s ease-in-out;
                background-color: $primary-color;
              }
            }
          }
          &.open,
          &:hover {
            >a,
            >a:hover,
            a:focus {
              color: #000;
              background: transparent;
              @media(min-width: 768px) {
                color: #fff;
                &:before {
                  height: 100%;
                }
              }
            }
          }
          .subLevel {
            ul {
              background-color: #fff;
              .item {
                a {
                  border: 0;
                  color: $primary-color;
                  transition: all .3s;
                  @media(min-width: 1024px) {
                    font-size: 13px;
                  }
                  @media(min-width:1550px) {
                    font-size: 15px;
                  }
                  @media(min-width:1700px) {
                    font-size: 17px;
                  }
                }
                &.open,
                &:hover {
                  >a,
                  >a:hover,
                  a:focus {
                    color: #fff;
                    background: $primary-color;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

/*--- Mobile Menu Styles ---*/

$mobile-nav-bg: 1;
@include phone {
  // Mobile Top Bar Background
  .mobileBG { background: $primary-color; opacity: $mobile-nav-bg;}

  //Mobile Menu Background
  .nd-mobile-window {left:0; background: $primary-color;}

  //Mobile Sub Level Color
  #contentnav #dnnMenu .subLevel { background: lighten($primary-color, 15%) !important;}
}


/*---   Header Styles  ---*/
#contentheader {
  padding: 0; 
  height: auto; 
  margin: 0 auto;
  background: #000;
  @include tablet {
    margin-top: 50px;
  }
  .container{
    display: flex;
    max-width: 100%;
    padding: 0 50px;
    align-items: center;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    @media(min-width:1024px) {
      flex-direction: row;
      justify-content: space-between;
    }
    #dnn_dnnLogo_hypLogo{
      #dnn_dnnLogo_imgLogo{
        padding:1% 0;
        @media(min-width:768px) {
          margin: 10px auto 0;
        }
        @media(min-width:1024px) {
          padding: 0;
          margin: 2% 0;
        } 
      }
    }
    #dnn_HeaderContactPane {
      .ModPostalCodeLookupC{
        @include tablet-desktop{
          display: none;
        }
      }
    }
  }
}

//Headercontact styles
#headercontact {
  display: none;
  @media(min-width:768px) {
    display: flex;
    padding: 20px 0;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  @media(min-width:1024px) {
    align-items: flex-end;
  }
  .addressphone{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    @media(min-width:1024px) {
      align-items: flex-end;
    }
    a{
      color: #fff;
      font-size: 18px;
      text-decoration: none;
      transition: all 250ms ease-in-out;
      -webkit-transition: all 250ms ease-in-out;
      &:hover{
        color: $primary-color;
      }
    }
    .address{
      span{
        padding-right: 6px;
        color: $primary-color;
      }
    }
    .quote-btn{
      @include tablet-desktop{
        display: none;
      }
    }
  }
  #top-social{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    a{
      width: 20px;
      margin: 5px;
      height: 20px;
      padding: 5px;
      display: flex;
      color: $primary-color;
      border-radius: 50%;
      align-items: center;
      background: $secondary-color;
      text-decoration: none;
      justify-content: center;
      transition: all 250ms ease-in-out;
      -webkit-transition: all 250ms ease-in-out;
      &:hover{
        background: #333;
      }
    }
  }
}