/* 
 <script>
                    $( document ).ready(function() {
                        $('#FooterPane3Container #LocationWidget .locwidget-email').prepend('<span class="fa fa-envelope"></span>');
                        $('#FooterPane3Container #LocationWidget .locwidget-phone').prepend('<span class="fa fa-phone"></span>');
                        $('#FooterPane3Container #LocationWidget .locwidget-addr').prepend('<span class="fas fa-location-arrow"></span>');
                    });
                </script>
*/
/* 
<div class="logo-container">
  <img class="logo-container__logo" src="/portals/[Portal:PortalID]/logo.png" alt="[ND:ClientName]">
  <div class="homepage-options">
    <a class="logo-container__options-item" href="/Contact">Contact Us</a>
  </div>
</div>
*/
/* 
<div id="socialfont">
  <a class="fa fa-facebook" target="_blank" href="[ND:Facebook]"></a>
  <!--<a class="fa fa-twitter" target="_blank" href="Twitter Not Configured"></a>-->
  <a class="fa fa-google" target="_blank" href="[ND:GPlus]"></a>
  <a class="fa fa-instagram" target="_blank" href="[ND:Instagram]"></a>
</div>
*/
div#bgbottom {
  padding: 30px 0;
  background: #000;
  @media (min-width: 768px) {
    padding: 50px 0;
  }
  #netdriven {
    padding: 0 2%;
    #socialfont {
      margin-top: 10px;
      .fa {
        color: $primary-color;

        font-size: 1.5rem !important;
        &:hover {
          color: $white-color;
        }
      }
    }
    #dnn_FooterPane1 {
      @media (max-width: 767px) {
        margin-bottom: 20px;
      }
      select {
        color: #000;
      }
    }
    h2 {
      font-size: 1.5rem;
      color: $primary-color;
      text-transform: capitalize;
    }
    span,
    .mobile-c,
    strong {
      color: #fff;
      span {
        padding-right: 5px;
      }
    }
    #LocationWidget {
      #locWidget1 {
        display: grid;
        gap: 0.5rem;
      }

      .locwidget-phone,
      .locwidget-addr,
      .locwidget-email {
        display: block !important;
        span {
          z-index: 1;
          color: $primary-color;
          font-size: 1rem;
        }
        strong {
          display: none;
        }
      }
    }
    #FooterPane1Container,
    #FooterPane2Container,
    #FooterPane3Container,
    #FooterPane4Container {
      padding: 0;
      min-height: auto;
    }
    #BottomFooter {
      > div {
        padding: 0;
      }
    }
    #FooterPane4Container {
      width: 100%;
      overflow: hidden;
      margin-top: 40px;
      padding-left: 10px;
      padding-right: 10px;
      @media (min-width: 768px) {
        width: auto;
        margin-top: 0;
      }

      div.coupon-wrap {
        @media (min-width: 1024px) {
          height: 245px;
          margin-top: 0;
          margin-bottom: 0;
        }
        div.couponsliderview {
          top: 0;
          left: 0;
          right: 0;
          margin: 0;
          bottom: 0;
          display: flex;
          position: absolute;
          align-items: center;
          justify-content: center;
          @media (min-width: 1024px) {
            height: 245px;
          }
          > div {
            width: auto !important;
          }
        }
      }
    }
    @media (max-width: 408px) {
      #FooterPane2Container,
      #FooterPane3Container {
        width: 47%;
        margin: 0;
      }
    }
    #BottomFooter #FooterPane2Container {
      li a {
        color: #fff;
        position: relative;
        &:before {
          transition: all 0.3s;
          content: "";
          position: absolute;
          width: 0%;
          height: 2px;
          right: 0;
          left: auto;
          bottom: 0;
          background-color: #fff;
        }
        &:hover {
          //color:$primary-color;
          &:before {
            left: 0;
            right: auto;
            width: 100%;
          }
        }
      }
    }

    #login {
      span {
        color: #fff;
      }
    }
  }
  #poweredbynd,
  .poweredByBadge {
    width: 165px;
  }
  .footer-client-logo {
    margin: 0 auto;
    display: block;
    max-width: 250px;
    margin-bottom: 20px;
  }
  .logo-container {
    display: grid;
    place-items: center;
    &__logo {
      max-width: 320px;
      width: 100%;
      object-fit: contain;
      margin-bottom: 15px;
    }
    .homepage-options {
      width: 100%;
      margin-top: 15px;
    }
  }
}
