.manufacturers-page .mfgIcons a {
    aspect-ratio: 4/3;
    width: calc(25% - 8px);
    height: auto;
    display: grid;
    place-content: center;
    padding: 0 4px;
    margin: 0 4px 8px;
    background: linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
    border-radius: 10px;
    border: 1px solid #eee;
}
.manufacturers-page .mfgIcons::before,
.manufacturers-page .mfgIcons::after {
    display: none;
}
@media (max-width: 576px) {
    .manufacturers-page .mfgIcons a {
        width: calc(50% - 8px);
    }
}
.manufacturers-page .mfgIcons img:hover {
    bottom: 0;
}
.manufacturers-page .mfgIcons a:hover img {
    bottom: 8px;
}