#headercontact {
  display: none;
  @media(min-width:768px) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .addressphone{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    @media(min-width:1024px) {
      flex-flow: row nowrap;
    }
    a{
      color: #fff;
      font-size: 18px;
      padding-right: 10px;
      text-decoration: none;
      transition: all 250ms ease-in-out;
      -webkit-transition: all 250ms ease-in-out;
      &:hover{
        color: $primary-color;
      }
    }
    .quote-btn{
      @include tablet-desktop{
          display: none;
      }
    }
  }
  #top-social{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    a{
      width: 20px;
      margin: 5px;
      height: 20px;
      padding: 5px;
      display: flex;
      color: #fff;
      border-radius: 50%;
      align-items: center;
      background: $secondary-color;
      text-decoration: none;
      justify-content: center;
      transition: all 250ms ease-in-out;
      -webkit-transition: all 250ms ease-in-out;
      &:hover{
        background: $primary-color;
      }
    }
  }
}