<div id="maintext" class="first-box__section"></div>
<div class="first-box__section__content">
    <div>
        <h3>The importance of total alignment:</h3>
        
        <div class="steps" id="steps">
            <div class="step">
                <div class="number">
                    <i class="fa fa-play" aria-hidden="true"></i>
                </div>
                <div class="info">
                    <p class="title">Reduced Tire Wear:</p>
                    <p class="text">
                        Improper alignment is a major cause of premature tire wear. Over
                        the years, a properly aligned vehicle can add thousands of miles
                        to tire life. Most tires are replaced prematurely due to adverse
                        wear.
                    </p>
                </div>
            </div>

            <div class="step">
                <div class="number">
                    <i class="fa fa-play" aria-hidden="true"></i>
                </div>
                <div class="info">
                    <p class="title">Better Gas Mileage:</p>
                    <p class="text">
                        Gas mileage increases as rolling resistance decreases. Total
                        Alignment sets all four wheels parallel, which along with proper
                        inflation, minimizes rolling resistance.
                    </p>
                </div>
            </div>

            <div class="step">
                <div class="number">
                    <i class="fa fa-play" aria-hidden="true"></i>
                </div>
                <div class="info">
                    <p class="title">Improved Handling:</p>
                    <p class="text">
                        Does your car pull to one side? Do you constantly have to move
                        the steering wheel to keep your car traveling straight ahead?
                        Many handling problems can be corrected by Total Alignment
                        service. With all the vehicle components aligned properly, road
                        shock is more efficiently absorbed for a smoother ride.
                    </p>
                </div>
            </div>

            <div class="step">
                <div class="number">
                    <i class="fa fa-play" aria-hidden="true"></i>
                </div>
                <div class="info">
                    <p class="title">Safer Driving:</p>
                    <p class="text">
                        A suspension system inspection is part of the alignment
                        procedure. This allows worn parts to be detected before they
                        cause costly problems.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="first-box__section__img">
    <img src="/portals/[Portal:PortalID]/skins/master/img/Car-Maintenance.png" alt="[ND:ClientName]" />
</div>
</div>