.container {
    max-width: 1280px;
    width: 100%;
    .first-box__section {
        box-sizing: border-box;
        padding: 60px 20px;
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        @media(min-width: 768px) { grid-template-columns: repeat(2, minmax(0, 1fr)); }
        .first-box__section__img {
            display: grid;
            place-items: center;
            img { max-width: 500px !important; width: 100% !important; object-fit: contain !important; }
        }
        .first-box__section__content {
            display: grid;
            .steps { max-width: 100%; margin: 0 auto; }
            .step {
                display: flex;
                position: relative;
                margin: 10px 0 0;
                &:after {
                    content: "";
                    position: absolute;
                    left: 15px;
                    top: 32px;
                    height: 0;
                    width: 0px;
                    background-color: transparent;
                    border: 1px dashed $primary-color;
                }
                .title {
                    font-size: 16px;
                    font-weight: 600;
                    margin: 0 0 8px;
                }
                .text {
                    font-size: 12px;
                    padding-bottom: 0;
                    margin: 0;
                }
                &:not(:last-child) {
                    &:after {
                        height: 85%;
                    }
                }
            }
            .number {
                width: 30px;
                height: 30px;
                background-color: $primary-color;
                color: $white-color;
                border: 2px solid $primary-color;
                
                flex-shrink: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 0.6rem;
                
                margin-right: 20px;
            }				
        }
    }
}