.brand-box__section {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 60px 20px;
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    @media(min-width: 1024px) { flex-direction: row; }
    .brand-box__section__title { max-width: 768px; width: 100%; h2 { color: $white-color; } text-align: center; @media(min-width: 1024px) { text-align: left; } }
    .brand-box__section__content { }
}