.hero-section {
  box-sizing: border-box;
  min-height: 75vh;
  background: linear-gradient(rgba(255, 0, 0, 0.1), rgba(255, 0, 0, 0.1)), url('https://assets-cdn.interactcp.com/mannsrv/images/mannsrv-bg-finv.jpg?modified=0716202501223487') no-repeat center center; background-size: cover;
}