<div id="maintext" class="info__section" style="background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('/portals/[Portal:PortalID]/skins/master/img/aboutbg.png') no-repeat center center;">
    <div class="info__content">
        <img src="/portals/[Portal:PortalID]/skins/master/img/info-row.jpg" alt="[ND:ClientName]">
        <h2>STAY UP TO DATE</h2>
        <p>with the latest news on our website and find out about all our current special offers.</p>
        <hr>
    </div>
</div>