<div id="maintext" class="contact-box">
    <div class="contact-box__title">
        <div>
            <h2 style="text-transform: capitalize;">Better Yet, See Us In Person!</h2>
            <p>We love our customers, so feel free to visit during normal business hours.</p>
        </div>
    </div>
    <div class="contact-box__content">
        <div class="contact-box__content__item">
            <a href="tel:7575433501">
                <div class="__icon">
                    <i class="fas fa-phone"></i>
                </div>
                <div class="__text">
                    <p><strong>Phone Number</strong></p>
                    <p>(757) 543-3501</p>
                </div>
            </a>
        </div>
        <div class="contact-box__content__item">
            <a href="/Contact/Find-Us">
                <div class="__icon">
                    <i class="fas fa-map-marker-alt"></i>
                </div>
                <div class="__text">
                    <p><strong>Address</strong></p>
                    <p>1801 Park Ave, Chesapeake, VA 23324</p>
                </div>
            </a>
        </div>
        <div class="contact-box__content__item">
            <a href="emailto:parkrepair@aol.com">
                <div class="__icon">
                    <i class="fas fa-envelope"></i>
                </div>
                <div class="__text">
                    <p><strong>Email</strong></p>
                    <p>parkrepair@aol.com</p>
                </div>
            </a>
        </div>
        <div class="contact-box__content__item">
            <div class="__icon last">
                <i class="fas fa-clock"></i>
            </div>
            <div class="__text">
                <p><strong>Schedule</strong></p>
                <p>Mon – Fri :8AM – 5PM <br> Weekends: Closed</p>
            </div>
        </div>
    </div>
</div>