.contact-box {
    box-sizing: border-box;
    padding: 60px 20px;
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    &__title { text-align: center; }
    &__content {
        margin-top: 40px;
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        @media(min-width: 768px) { grid-template-columns: repeat(4, minmax(0, 1fr)); }
        &__item {
            a { 
                color: $black-color; &:hover { color: $primary-color; } 
                display: flex;
                gap: 1rem;
                align-items: center;
                text-align: start;
                @media(min-width: 768px) { text-align: center; display: block; }
            }
            display: flex;
            gap: 1rem;
            align-items: center;
            text-align: start;
            @media(min-width: 768px) { text-align: center; display: block; }
            .__icon {
                margin: 0 auto;
                width: 90px;
                min-width: 90px;
                height: 90px;
                display: grid;
                place-items: center;
                font-size: 2.5rem;
                background: $primary-color;
                color: $white-color;
                margin-bottom: 10px;
                position: relative;
                z-index: 2;
                &::after {
                    content: '';
                    border-top: 1px solid #000;
                    height: 1px;
                    
                    right: auto;
                    position: absolute;
                    width:100px;
                    transform: rotate(90deg);
                    top: 100%;	
                    left: 0;
                    @media(min-width: 768px) { width: calc(100% + 120px); top: 50%; left: 14px; transform: rotate(0deg); }
                    @media(min-width: 1024px) { width: calc(100% + 215px); top: 50%; left: 14px; transform: rotate(0deg); }
                    border-color: $primary-color;
                    border-top-style: solid;
                    border-top-width: 2px;
                    z-index: -5;
                }
                &.last { 
                     margin: 0; 
                    @media(min-width: 768px) { margin: 0 auto; }
                    &::after {
                        width: 0;
                    }
                }
            }
            .__text {
                
                p { margin: 0; }
                strong { color: $black-color; }
            }
        }
    }

}