.hero__section {
    width: 100%;
    min-height: 50vh;
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url("/portals/148/skins/master/img/herobg.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    padding: 40px 20px;
    box-sizing: border-box;
    display: grid;
    place-items: center;
    .hero__content {
        max-width: 1280px;
        width: 100%;
        margin: 0 auto;
        text-align: center;
        color: $white-color;
        h2 { font-size: 3rem; }
        h1 { font-size: 4rem; color: $primary-color;}
        p { font-weight: 700; }
        display: grid;
        place-items: center;
    }
}