.hero__section {
    width: 100%;
    min-height: 70vh;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("/portals/147/skins/master/img/mainbanner__bg.jpg") no-repeat top center;
    background-size: cover;
    background-attachment: fixed;
    
}