<div id="maintext" class="compare-box__section">
    <div class="compare-box__section__title">
      <div>
        <h3>Our PortFolio</h3>
        <h2>Explore Our Project</h2>
      </div>
    </div>
  
    <div class="compare-box__section__content">
      <div class="compare-box__section__content__item">
        <div id="image-compare2">
          <img src="/portals/[Portal:PortalID]/skins/master/img/before-1.jpg" alt="[ND:ClientName]" />
          <img src="/portals/[Portal:PortalID]/skins/master/img/after-1.jpg" alt="[ND:ClientName]" />
        </div>
      </div>
  
      <div class="compare-box__section__content__item">
        <div id="image-compare">
          <img src="/portals/[Portal:PortalID]/skins/master/img/before-2.jpg" alt="[ND:ClientName]" />
          <img src="/portals/[Portal:PortalID]/skins/master/img/after-2.jpg" alt="[ND:ClientName]" />
        </div>
      </div>
    </div>
  </div>
  
  <script>
    const options = {
      controlShadow: false,
      addCircle: true,
      addCircleBlur: true,
      showLabels: true,
      labelOptions: {
        before: 'Before',
        after: 'After',
        onHover: false
      },
    };
  
    const element = document.getElementById("image-compare");
    const element2 = document.getElementById("image-compare2");
  
    const viewer = new ImageCompare(element, options).mount();
    const viewer2 = new ImageCompare(element2, options).mount();
  </script>