<div id="maintext" class="first-box__section">
    <div class="first-box__section__img">
        <img src="/portals/[Portal:PortalID]/skins/master/img/about-us.jpg" alt="[ND:ClientName]" />
    </div>
    <div class="first-box__section__content">
        <div>
            <h2>TRUST CASE AUTOMOTIVE FOR THE BEST AUTO REPAIR SERVICE IN WOODBURN, OR</h2>
            <hr />
            <p>
                Case Automotive has been providing top quality car care to Woodburn and the surrounding areas since 1952. We are a family-owned and operated business delivering honest and professional automotive repair and auto maintenance services.
            </p>
            <p>
                We employ today’s latest automotive technology and are equipped to handle all of your General Automotive needs
            </p>
            <p>
                Senior Discount, Veteran Discount- 5% parts and labor
            </p>
            <a href="/About" class="button">
                <div class="button__text">Read More</div>
            </a>
        </div>
    </div>
</div>