.first-box__section {
    box-sizing: border-box;
    padding: 60px 20px;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    @media(min-width: 1024px) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    .first-box__section__img {
        display: grid;
        place-items: center;
        img { 
            max-width: 450px !important;
            width: 100% !important;
            object-fit: contain !important;
        }
    }
    .first-box__section__content {
        display: grid;
        place-items: center;
        h3, h2 { font-family: $webfont !important; text-transform: uppercase; }
        h3 { font-size: 1.5rem; }
        h2 { font-size: 2.5rem; font-weight: 900; font-style: italic; }
        p { margin: 20px 0; }
        hr { border: 2px solid $primary-color; width: 100px; margin: 15px 0; }
        a { text-decoration: none; color: blue; &:hover { color: $black-color; } }
    }
}