<div class="subpage-hero" style="background: url('//assets-cdn.interactcp.com/interactrv/images/common/headers/ban-about-us-1.jpg');">
    <div class="container">
        <div class="headline">About Us</div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-xl-10 col-xl-offset-1">
            <h1>About [#DealerName] in [#DealerLocation]</h1>
            <p>We are locally owned and operated. [#DealerName] is dedicated to helping you find the right RV for your family. We carry top brands and quality products with some of the best prices and service in the area. Our team is here to answer any questions you may have regarding our product and process to purchasing your very own RV today.</p>
            <p>If you’re looking for an outstanding deal on fantastic <a href="/new-rvs-for-sale">new</a> or <a href="/used-rvs-for-sale">used RVs</a> for sale in [#DealerLocation], you have come to the right place here at [#DealerName]! Our trained and experienced team is here to help find the absolute best RV for your vacation needs at a price that fits perfectly into your budget. We are here to make the RV buying experience as enjoyable and easy as possible. We have an awesome inventory of new and used RVs for sale that is refreshing and updating daily. Come in today and let us earn your business and help start your RVing lifestyle right! Contact us today for more information!</p>
            <br />
            <div><a href="/contact-us" class="btn btn-primary btn-lg">Contact us</a></div>
        </div>
    </div>
</div>