<div class="subpage-hero" style="background: url('//assets-cdn.interactcp.com/interactrv/images/common/headers/ban-our-staff-1.jpg');">
    <div class="container">
        <h1>Get A Quote</h1>
    </div>
</div>
<div class="umb-macro-holder mceNonEditable"><!-- <?UMBRACO_MACRO macroAlias="FormSnippet" ConfirmationSnippet="" UseParentDomainName="0" FormSnippet="{&quot;formSnippetId&quot;:1171,&quot;settings&quot;:[]}" FormActivityType="" ConfirmationHtmlId="" /> --> <ins>
    <div><button class="btn-mce btn-macro-edit-inline">Edit FormSnippet</button><button class="btn-mce btn-macro-delete-inline">Delete</button></div>
    </ins></div>

    <style>
        .well {
            box-sizing: border-box;
            max-width: 1200px;
            width: 100%;
            margin: 0 auto;  
        }
    </style>