<div class="subpage-hero" style="background: url('https://images.pexels.com/photos/5605061/pexels-photo-5605061.jpeg');">
    <div class="container">
        <h1>Newsletter</h1>
    </div>
</div>
<div class="umb-macro-holder mceNonEditable"><!-- <?UMBRACO_MACRO macroAlias="FormSnippet" ConfirmationSnippet="" UseParentDomainName="0" FormSnippet="{&quot;formSnippetId&quot;:1192,&quot;settings&quot;:[]}" FormActivityType="" ConfirmationHtmlId="" /> --> <ins>
    <div><button class="btn-mce btn-macro-edit-inline">Edit FormSnippet</button><button class="btn-mce btn-macro-delete-inline">Delete</button></div>
    </ins></div>

<style>
    .form.irvForm {
        box-sizing: border-box;
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
    }
</style>