<div class="subpage-hero" style="background: url('https://images.pexels.com/photos/164686/pexels-photo-164686.jpeg');">
    <div class="container">
        <h1>Payment Calculator</h1>
    </div>
</div>
<div class="umb-macro-holder mceNonEditable"><!-- <?UMBRACO_MACRO macroAlias="Snippet" CacheBuster="" SnippetParams="" Snippet="215599" /> --> <ins>
    <div><button class="btn-mce btn-macro-edit-inline">Edit Snippet</button><button class="btn-mce btn-macro-delete-inline">Delete</button></div>
    </ins></div>

    <style>
        #paymentCalculator {
            box-sizing: border-box;
            max-width: 1280px;
            width: 100%;
            margin: 0 auto;
        }
    </style>

<script type="text/javascript" src="https://assets-cdn.interactcp.com/interactrv/js/common_netcore/paymentcalc.js"></script>