/* This is for fifth-row */

	.container {
		max-width: 1280px;
		width: 100%;
		
		.wrapper.coupon-section {
			padding: 60px 20px;
			box-sizing: border-box;
			width: 100%;
			display: grid;
			grid-template-columns: repeat(1, minmax(0, 1fr));
			gap: 1rem;
			@media(min-width: 768px) { grid-template-columns: repeat(2, minmax(0, 1fr)); }
			#dnn_HomeSidePane {
				display: block !important;
				.form__image {
                
					width: 100%;
					display: grid;
					place-items: center;
					img { max-width: 500px; width: 100%; object-fit: contain; box-shadow: 0px 10px 7px -4px rgba(0, 0, 0, 0.5); }
					
				}
			}
	
			#dnn_HomeContentPane {
				width: 100%;
				display: block;
				.form__title {
					padding: 0 20px;
					padding-top: 60px;
					span { color: $secondary-color; }
				}
				.DynamicForms_MainPanel {
					display: grid;
					gap: 1rem;
					input { color: $black-color; border: 1px solid $black-color; font-family: $webfont2 !important; background-color: #fff; padding: 10px !important;
						&::placeholder { color: $black-color; }
						&:focus, &:active {
							border-color: $primary-color;
							outline: 2px solid $primary-color;
						}
					}

					textarea { color: $black-color; border: 1px solid $black-color; font-family: $webfont2 !important; background-color: #fff; padding: 10px !important;
						&::placeholder { color: $black-color; }
						&:focus, &:active {
							border-color: $primary-color;
							outline: 2px solid $primary-color;
						}
					}

					.DynamicForms_SaveFormDiv {
						input {
							text-decoration: none;
							display: block;
							max-width: fit-content;
							margin: 10px 0;
							background-color: $primary-color;
							color: #fff !important;
							padding: 10px 30px;
							user-select: none;
							font-family: $webfont !important;
							font-size: 1rem !important;
							transition: all 0.2s ease-in-out;
							text-transform: uppercase;
							font-weight: normal;
							border: none;
							cursor: pointer;
							&:hover {
								background-color: $secondary-color;
								color: #fff !important;
							}	
						}
					}
				}
			}
		}
	}