<main class="generic-main-content">
    <div class="generic-content-wrapper">
        <h1 class="generic-hero-title">RV Tow Ratings &amp; Towing Capacity</h1>
        <div class="generic-video-section">
            <div class="generic-video-container"><iframe
                    src="https://www.youtube.com/embed/_v0FU05dGz8?feature=oembed&amp;wmode=opaque" allowfullscreen="">
                </iframe></div>
        </div>
        <section class="generic-text-section">
            <h3 class="generic-text-section__title">Understanding Towing Ratings</h3>
            <p class="generic-text-section__paragraph">An important step in the RV buying process is determining if the
                camper you want to purchase can be towed by your truck, SUV or crossover vehicle. Understanding tow
                ratings and towing capacity helps you pair up the right-sized RV with your vehicle.</p>
            <p class="generic-text-section__paragraph">After reviewing the information, video and pictures found on this
                page, terms like Unloaded Vehicle Weight (UVW), Gross Vehicle Weight (GVW), and load distribution will
                no longer sound foreign or technical. In fact, it's really quite simple. After learning where weight
                information tags are located on an RV and tow vehicle, simple subtraction is all it takes to determine
                towing capacity.</p>
        </section>
        <section class="generic-accordion-section">
            <div class="generic-accordion">
                <div class="generic-accordion__item">
                    <h4 class="generic-accordion__title" style="font-size: 2.5rem; padding: 20px 0;">Tow Rating</h4>
                    <button class="generic-accordion__header" type="button" data-target="collapse1"><span
                            class="generic-accordion__icon">+</span> </button>
                    <div id="collapse1" class="generic-accordion__content">
                        <div class="generic-guide-grid"><a
                                href="https://assets-cdn.interactcp.com/thervguys/pdfs/tow-ratings/TrailerLifeTowGuide1999.pdf"
                                target="_blank" class="generic-guide-grid__item" rel="noopener"> <img
                                    src="https://assets-cdn.interactcp.com/thervguys/tow-ratings/1999.jpg"
                                    alt="1999 Trailer Life Tow Guide" class="generic-guide-grid__image" /> </a> <a
                                href="https://assets-cdn.interactcp.com/thervguys/pdfs/tow-ratings/TrailerLifeTowGuide2000.pdf"
                                target="_blank" class="generic-guide-grid__item" rel="noopener"> <img
                                    src="https://assets-cdn.interactcp.com/thervguys/tow-ratings/2000.jpg"
                                    alt="2000 Trailer Life Tow Guide" class="generic-guide-grid__image" /> </a> <a
                                href="https://assets-cdn.interactcp.com/thervguys/pdfs/tow-ratings/TrailerLifeTowGuide2001.pdf"
                                target="_blank" class="generic-guide-grid__item" rel="noopener"> <img
                                    src="https://assets-cdn.interactcp.com/thervguys/tow-ratings/2001.jpg"
                                    alt="2001 Trailer Life Tow Guide" class="generic-guide-grid__image" /> </a> <a
                                href="https://assets-cdn.interactcp.com/thervguys/pdfs/tow-ratings/TrailerLifeTowGuide2002.pdf"
                                target="_blank" class="generic-guide-grid__item" rel="noopener"> <img
                                    src="https://assets-cdn.interactcp.com/thervguys/tow-ratings/2002.jpg"
                                    alt="2002 Trailer Life Tow Guide" class="generic-guide-grid__image" /> </a> <a
                                href="https://assets-cdn.interactcp.com/thervguys/pdfs/tow-ratings/TrailerLifeTowGuide2003.pdf"
                                target="_blank" class="generic-guide-grid__item" rel="noopener"> <img
                                    src="https://assets-cdn.interactcp.com/thervguys/tow-ratings/2003.jpg"
                                    alt="2003 Trailer Life Tow Guide" class="generic-guide-grid__image" /> </a> <a
                                href="https://assets-cdn.interactcp.com/thervguys/pdfs/tow-ratings/TrailerLifeTowGuide2004.pdf"
                                target="_blank" class="generic-guide-grid__item" rel="noopener"> <img
                                    src="https://assets-cdn.interactcp.com/thervguys/tow-ratings/2004.jpg"
                                    alt="2004 Trailer Life Tow Guide" class="generic-guide-grid__image" /> </a> <a
                                href="https://assets-cdn.interactcp.com/thervguys/pdfs/tow-ratings/TrailerLifeTowGuide2005.pdf"
                                target="_blank" class="generic-guide-grid__item" rel="noopener"> <img
                                    src="https://assets-cdn.interactcp.com/thervguys/tow-ratings/2005.jpg"
                                    alt="2005 Trailer Life Tow Guide" class="generic-guide-grid__image" /> </a> <a
                                href="https://assets-cdn.interactcp.com/thervguys/pdfs/tow-ratings/TrailerLifeTowGuide2006.pdf"
                                target="_blank" class="generic-guide-grid__item" rel="noopener"> <img
                                    src="https://assets-cdn.interactcp.com/thervguys/tow-ratings/2006.jpg"
                                    alt="2006 Trailer Life Tow Guide" class="generic-guide-grid__image" /> </a> <a
                                href="https://assets-cdn.interactcp.com/thervguys/pdfs/tow-ratings/TrailerLifeTowGuide2007.pdf"
                                target="_blank" class="generic-guide-grid__item" rel="noopener"> <img
                                    src="https://assets-cdn.interactcp.com/thervguys/tow-ratings/2007.jpg"
                                    alt="2007 Trailer Life Tow Guide" class="generic-guide-grid__image" /> </a> <a
                                href="https://assets-cdn.interactcp.com/thervguys/pdfs/tow-ratings/TrailerLifeTowGuide2008.pdf"
                                target="_blank" class="generic-guide-grid__item" rel="noopener"> <img
                                    src="https://assets-cdn.interactcp.com/thervguys/tow-ratings/2008.jpg"
                                    alt="2008 Trailer Life Tow Guide" class="generic-guide-grid__image" /> </a> <a
                                href="https://assets-cdn.interactcp.com/thervguys/pdfs/tow-ratings/TrailerLifeTowGuide2009.pdf"
                                target="_blank" class="generic-guide-grid__item" rel="noopener"> <img
                                    src="https://assets-cdn.interactcp.com/thervguys/tow-ratings/2009.jpg"
                                    alt="2009 Trailer Life Tow Guide" class="generic-guide-grid__image" /> </a> <a
                                href="https://assets-cdn.interactcp.com/thervguys/pdfs/tow-ratings/TrailerLifeTowGuide2010.pdf"
                                target="_blank" class="generic-guide-grid__item" rel="noopener"> <img
                                    src="https://assets-cdn.interactcp.com/thervguys/tow-ratings/2010.jpg"
                                    alt="2010 Trailer Life Tow Guide" class="generic-guide-grid__image" /> </a> <a
                                href="https://assets-cdn.interactcp.com/thervguys/pdfs/tow-ratings/TrailerLifeTowGuide2011.pdf"
                                target="_blank" class="generic-guide-grid__item" rel="noopener"> <img
                                    src="https://assets-cdn.interactcp.com/thervguys/tow-ratings/2011.jpg"
                                    alt="2011 Trailer Life Tow Guide" class="generic-guide-grid__image" /> </a> <a
                                href="https://assets-cdn.interactcp.com/thervguys/pdfs/tow-ratings/TrailerLifeTowGuide2012.pdf"
                                target="_blank" class="generic-guide-grid__item" rel="noopener"> <img
                                    src="https://assets-cdn.interactcp.com/thervguys/tow-ratings/2012.jpg"
                                    alt="2012 Trailer Life Tow Guide" class="generic-guide-grid__image" /> </a> <a
                                href="https://assets-cdn.interactcp.com/thervguys/pdfs/tow-ratings/TrailerLifeTowGuide2014.pdf"
                                target="_blank" class="generic-guide-grid__item" rel="noopener"> <img
                                    src="https://assets-cdn.interactcp.com/thervguys/tow-ratings/2014.jpg"
                                    alt="2014 Trailer Life Tow Guide" class="generic-guide-grid__image" /> </a> <a
                                href="https://assets-cdn.interactcp.com/thervguys/pdfs/tow-ratings/TrailerLifeTowGuide2015.pdf"
                                target="_blank" class="generic-guide-grid__item" rel="noopener"> <img
                                    src="https://assets-cdn.interactcp.com/thervguys/tow-ratings/2015.jpg"
                                    alt="2015 Trailer Life Tow Guide" class="generic-guide-grid__image" /> </a> <a
                                href="https://assets-cdn.interactcp.com/thervguys/pdfs/tow-ratings/TrailerLifeTowGuide2016.pdf"
                                target="_blank" class="generic-guide-grid__item" rel="noopener"> <img
                                    src="https://assets-cdn.interactcp.com/thervguys/tow-ratings/2016.jpg"
                                    alt="2016 Trailer Life Tow Guide" class="generic-guide-grid__image" /> </a> <a
                                href="https://assets-cdn.interactcp.com/thervguys/pdfs/tow-ratings/TrailerLifeTowGuide2018.pdf"
                                target="_blank" class="generic-guide-grid__item" rel="noopener"> <img
                                    src="https://assets-cdn.interactcp.com/thervguys/tow-ratings/2018.jpg"
                                    alt="2018 Trailer Life Tow Guide" class="generic-guide-grid__image" /> </a></div>
                    </div>
                </div>
            </div>
        </section>
        <section class="generic-terms-section">
            <h3 class="generic-terms-section__title">Vehicle Weight Terms</h3>
            <p class="generic-terms-section__intro">Getting an accurate tow rating requires some research on your
                vehicle and the travel trailer or fifth wheel you are looking to buy. Going this route versus an
                approximation helps ensure the safety of your family and mechanical health of your vehicle. Here are a
                few key terms to become familiar with when determining tow rating:</p>
            <div class="generic-terms-list">
                <div class="generic-terms-list__item"><strong class="generic-terms-list__term">CGWR (Combined Gross
                        Weight Rating)</strong> <span class="generic-terms-list__definition">– This is the combined
                        gross weight rating. It is the maximum allowable weight your vehicle, with cargo and passengers,
                        and a trailer can weigh. The CGWR can be found labeled on the inside of the driver's side
                        door.</span></div>
                <div class="generic-terms-list__item"><strong class="generic-terms-list__term">GVWR (Gross Vehicle
                        Weight Rating)</strong> <span class="generic-terms-list__definition">– The maximum permissible
                        weight of the trailer when fully loaded. It includes the maximum allowable weight at the trailer
                        axle(s) plus the hitch (tongue/pin) weight. The GVWR is typically found labeled in pounds and
                        kilograms on the driver's side towards the front of a trailer.</span></div>
                <div class="generic-terms-list__item"><strong class="generic-terms-list__term">UVW (Unloaded Vehicle
                        Weight)</strong> <span class="generic-terms-list__definition">– The weight of a trailer as
                        manufactured at the factory. Also known as "dry" or "shipping" weight. It includes all weight at
                        a trailer's axle(s) and hitch.</span></div>
                <div class="generic-terms-list__item"><strong class="generic-terms-list__term">CCC (Cargo Carrying
                        Capacity)</strong> <span class="generic-terms-list__definition">– US-Equal is GVWR minus the UVW
                        and LP gas weight (Water is considered a component of cargo). Canada-Equal is GVWR minus the
                        UVW, full fresh (potable) water weight (including the water heater) and full LP gas weight. CCC
                        information can be found labeled on the trailer in the same area as the GVWR.</span></div>
            </div>
            <p class="generic-terms-section__note">To be completely accurate, there are several more factors involved
                when determining tow rating. However, basic logic tells you if CGWR is less than the UVW, and especially
                the GVWR, it's a sound bet your vehicle is not suited to tow the RV you want to buy.</p>
            <p class="generic-terms-section__note">Along with reviewing your towing vehicle owner's manual, chapter 3 of
                the Keystone RV Owner's Manual does a nice job explaining load limits and towing considerations. A PDF
                version of the Keystone RV Owner's Manual is available on our website.</p>
            <p class="generic-terms-section__note">In addition to the Keystone RV Owner's Manual, feel free to contact
                Pete's RV with further questions on tow ratings, towing capacity, and trailer hitches.</p>
        </section>
        <section class="generic-image-info-section">
            <div class="generic-image-info-list">
                <div class="generic-image-info-list__item">
                    <div class="generic-image-info-list__image-container"><img
                            src="https://assets-cdn.interactcp.com/thervguys/tow-ratings/1.jpg"
                            alt="RV weight label location" class="generic-image-info-list__image" /></div>
                    <p class="generic-image-info-list__description">Weight values for an RV are found on the inside of
                        the entry door. For older RVs, they are found in a kitchen cabinet.</p>
                </div>
                <div class="generic-image-info-list__item">
                    <div class="generic-image-info-list__image-container"><img
                            src="https://assets-cdn.interactcp.com/thervguys/tow-ratings/2.jpg"
                            alt="Vehicle weight label location" class="generic-image-info-list__image" /></div>
                    <p class="generic-image-info-list__description">Weight values for a vehicle are found inside the
                        driver's side door.</p>
                </div>
                <div class="generic-image-info-list__item">
                    <div class="generic-image-info-list__image-container"><img
                            src="https://assets-cdn.interactcp.com/thervguys/tow-ratings/3.jpg"
                            alt="Choosing the right hitch" class="generic-image-info-list__image" /></div>
                    <p class="generic-image-info-list__description">Knowing tow ratings and towing capacity helps you
                        choose the right hitch.</p>
                </div>
            </div>
        </section>
    </div>
</main>