<div class="subpage-hero" style="background: url('//assets-cdn.interactcp.com/interactrv/images/common/headers/ban-our-staff-2.jpg');">
    <div class="container">
        <div class="headline">Our Staff</div>
    </div>
</div>
<div class="row staff">
    <div class="col-xs-12 col-xl-10 col-xl-offset-1">
        <h1>Our Staff | [#DealerName]</h1>
        <div id="accordion" class="panel-group">
            <div class="panel panel-default">
                <div id="headingOne" class="panel-heading">
                    <h2 class="panel-title"><a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"> Management </a></h2>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <div class="card-wrapper">
                            <div class="card"><img src="https://assets-cdn.interactcp.com/demo/images/staff-placeholder.png?modified=0314202520082743" alt="Staff Photo" data-assetid="51656315" />
                                <div class="card-content-wrapper">
                                    <h3>FirstName LastName</h3>
                                    <h4>Employee Title</h4>
                                    <p class="staff-email"><a href="mailto:email@domain.com">email@domain.com</a></p>
                                    <p class="staff-phone"><a href="tel:5555555555">1-555-555-5555</a></p>
                                    <div class="bio-wrapper">
                                        <div class="bio-btn-wrapper"><a class="btn-bio toggle-bio collapsed" data-toggle="collapse" data-target=".toggle-bio:hover + .bio-text">Bio <i class="fa fa-chevron-down"></i><i class="fa fa-chevron-up"></i> </a>
                                            <div class="collapse bio-text">
                                                <div class="bio-text-wrapper">
                                                    <p class="staff-bio">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, quasi? Rem ipsam autem nemo iure in laborum dolor dolores, deleniti sequi, sunt doloremque, consequatur non architecto? Numquam accusantium error autem?</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div id="headingTwo" class="panel-heading">
                    <h2 class="panel-title"><a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"> Sales </a></h2>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" aria-labelledby="headingTwo">
                    <div class="panel-body">
                        <div class="card-wrapper">
                            <div class="card"><img src="https://assets-cdn.interactcp.com/demo/images/staff-placeholder.png?modified=0314202520082743" alt="Staff Photo" data-assetid="51656315" />
                                <div class="card-content-wrapper">
                                    <h3>FirstName LastName</h3>
                                    <h4>Employee Title</h4>
                                    <p class="staff-email"><a href="mailto:email@domain.com">email@domain.com</a></p>
                                    <p class="staff-phone"><a href="tel:5555555555">1-555-555-5555</a></p>
                                    <div class="bio-wrapper">
                                        <div class="bio-btn-wrapper"><a class="btn-bio toggle-bio collapsed" data-toggle="collapse" data-target=".toggle-bio:hover + .bio-text">Bio <i class="fa fa-chevron-down"></i><i class="fa fa-chevron-up"></i> </a>
                                            <div class="collapse bio-text">
                                                <div class="bio-text-wrapper">
                                                    <p class="staff-bio">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia, quasi? Rem ipsam autem nemo iure in laborum dolor dolores, deleniti sequi, sunt doloremque, consequatur non architecto? Numquam accusantium error autem?</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>